In [1]:
## importing libraries

import numpy as np
import pandas as pd

In [2]:
## reading file 
df =  pd.read_csv('Bengaluru_House_Data.csv')

In [3]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df.shape

(13320, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

## Filling NA

In [6]:
df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [7]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [8]:
df['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [9]:
df['location'] = df['location'].fillna('Whitefield')

In [10]:
df.isna().sum()

area_type          0
availability       0
location           0
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [11]:
df['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [12]:
df['size'] = df['size'].fillna('2 BHK')

In [13]:
df.isna().sum()

area_type          0
availability       0
location           0
size               0
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [14]:
df['bath'].value_counts()

2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64

In [15]:
df['bath'] = df['bath'].fillna('2.0')

In [16]:
df.isna().sum()

area_type          0
availability       0
location           0
size               0
society         5502
total_sqft         0
bath               0
balcony          609
price              0
dtype: int64

In [17]:
df['balcony'].value_counts()

2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64

In [18]:
df['balcony'] = df['balcony'].fillna('2.0')

In [19]:
df.isna().sum()

area_type          0
availability       0
location           0
size               0
society         5502
total_sqft         0
bath               0
balcony            0
price              0
dtype: int64

## Fixing Data

In [20]:
df.sample(20)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
9693,Plot Area,Ready To Move,Kodigehalli,2 Bedroom,NaN,500,1.0,0.0,55.00
4872,Super built-up Area,18-Jan,Hegde Nagar,3 BHK,SoisoCa,2006.8,4.0,2.0,196.00
619,Super built-up Area,Ready To Move,Whitefield,3 BHK,NaN,1790,3.0,2.0,100.00
5638,Super built-up Area,Ready To Move,Hosahalli Extension,3 BHK,NaN,2000,3.0,2.0,120.00
4765,Super built-up Area,18-Aug,Shirdi Sai Layout,2 BHK,NaN,1450,2.0,3.0,62.63
5819,Super built-up Area,Ready To Move,Kanakpura Road,3 BHK,PuandHi,1665,3.0,2.0,86.91
9443,Super built-up Area,Ready To Move,Uttarahalli,2 BHK,NaN,1213,2.0,2.0,48.00
6088,Super built-up Area,20-Jun,Sonam Layout,2 BHK,NaN,905,2.0,1.0,50.00
8344,Super built-up Area,18-Jul,Electronic City Phase II,2 BHK,Sryalan,1020,2.0,1.0,27.43
5505,Built-up Area,Ready To Move,Daadys Gaarden Layout,3 BHK,InockHo,1740,3.0,2.0,55.00
620,Super built-up Area,18-Dec,Hebbal,3 BHK,Mahosya,1920,3.0,2.0,134.00
12815,Super built-up Area,Ready To Move,Kodichikkanahalli,2 BHK,NaN,900,2.0,1.0,35.00
11489,Super built-up Area,18-Dec,Sunkan palya,2 BHK,NaN,927,2.0,2.0,37.00
12185,Super built-up Area,Ready To Move,Marathahalli,2 BHK,Spsic C,1100,2.0,1.0,50.00
672,Built-up Area,18-Mar,Bettahalsoor,4 Bedroom,Toainnt,3090 - 5002,4.0,0.0,445.00
11992,Super built-up Area,Ready To Move,Electronic City,2 BHK,Itelaa,880,2.0,1.0,19.00
10025,Super built-up Area,18-Dec,Hebbal,3 BHK,Magiaya,1355,3.0,2.0,83.87
2433,Super built-up Area,Ready To Move,Akshaya Nagar,3 BHK,Hiows C,1720,3.0,1.0,134.00
2004,Super built-up Area,Ready To Move,Malleshwaram,3 BHK,Sariaat,2475,4.0,3.0,332.00
7805,Super built-up Area,Ready To Move,Punappa Layout,3 BHK,DSionhe,1310,2.0,1.0,55.00

In [21]:
df = df.drop(columns=['area_type','availability','society'])

In [22]:
df.sample(20)

                 location       size total_sqft bath balcony    price
3508               Hebbal      2 BHK       1100  2.0     1.0   54.000
9358            Yelahanka      2 BHK       1076  2.0     1.0   78.000
727     Jeevan bima nagar  5 Bedroom       1210  4.0     2.0  160.000
2213         Arasanakunte  5 Bedroom       1200  6.0     2.0  137.000
8253        Richmond Town      4 BHK       2380  4.0     3.0  242.000
4491             Sarjapur      2 BHK       1500  2.0     2.0   30.000
2772        Kaggadasapura      2 BHK       1132  2.0     2.0   42.000
1323      Electronic City      2 BHK       1070  2.0     1.0   56.100
157           Thanisandra      3 BHK       1735  3.0     3.0  135.000
4772   Near ullas theater      3 BHK       1900  3.0     2.0  205.000
9553           Hosur Road      3 BHK       1370  3.0     3.0   38.360
6471        Kaggadasapura      2 BHK       1225  2.0     2.0   48.000
10145     Electronic City      2 BHK       1127  2.0     2.0   32.000
12904           Bellandur      3 BHK       1535  3.0     2.0   90.000
6963      Electronic City      2 BHK        940  2.0     1.0   54.000
2113         Marathahalli      4 BHK       2519  5.0     2.0  185.000
9285              Hormavu      1 BHK  527 - 639  1.0     0.0   28.275
4005      Nagadevanahalli      2 BHK       1090  2.0     1.0   36.000
11385          Whitefield      2 BHK       1170  2.0     1.0   56.000
4733               Hebbal      3 BHK       1255  3.0     2.0   77.680

In [23]:
df['BHK'] = df['size'].str.split().str.get(0).astype(int)

In [24]:
df.sample(20)

,location,size,total_sqft,bath,balcony,price,BHK
7974,Kasavanhalli,2 BHK,1375,2.0,1.0,78.00,2
897,Varthur,2 BHK,1385,2.0,3.0,80.00,2
2105,St. John's Road,2 BHK,824,2.0,0.0,60.00,2
155,Electronic City Phase II,2 BHK,1020,2.0,1.0,30.60,2
12597,"Electronic City Phase 1,",3 BHK,1500,3.0,2.0,50.00,3
6643,Whitefield,4 BHK,2830 - 2882,5.0,0.0,157.50,4
811,Bhoganhalli,4 BHK,2119,4.0,3.0,111.00,4
13045,Vasanthpura,6 Bedroom,600,6.0,2.0,65.00,6
2194,Nehru Nagar,3 BHK,1775,3.0,3.0,110.00,3
7927,Billekahalli,2 BHK,950,2.0,1.0,58.11,2
6848,CV Raman Nagar,2 BHK,1100,2.0,1.0,58.00,2
1111,Thanisandra,3 BHK,1240,2.0,1.0,62.00,3
6404,Whitefield,2 BHK,1105,2.0,2.0,39.99,2
10446,Mahaganapathy Nagar,2 BHK,1410,2.0,2.0,73.00,2
65,Doddathoguru,2 BHK,1100,2.0,1.0,62.00,2
12636,Raja Rajeshwari Nagar,2 BHK,1206,2.0,1.0,40.70,2
4770,Sarjapur Road,2 BHK,1043,2.0,1.0,39.50,2
10691,Sampangirama Nagar,5 Bedroom,2760,5.0,2.0,140.00,5
8089,Palanahalli,4 Bedroom,3978,4.0,3.0,428.00,4
3116,Electronic City,2 BHK,1100,2.0,1.0,40.00,2

In [25]:
df = df.drop(['size'], axis=1)

In [26]:
df.sample(20)

                        location   total_sqft bath balcony   price  BHK
279                       Jigani         1252  3.0     3.0   55.00    3
7612                   Yelahanka         3990  4.0     1.0  260.00    4
5458      anjananager magdi road         1200  3.0     1.0  165.00    3
1684            Kereguddadahalli         1400  2.0     2.0   48.00    3
5624             Electronic City         1410  2.0     2.0   38.00    3
2758                    KR Puram          600  5.0     2.0   75.00    4
1193                Banashankari         1300  2.0     2.0   75.00    3
10682                Devanahalli          658  1.0     1.0   26.91    1
3421                  Whitefield         1130  2.0     1.0   36.00    2
9400                   Hosa Road         1730  3.0     2.0   72.60    3
12630             Devasthanagalu         1057  2.0     1.0   42.00    2
4531             Kalena Agrahara         1270  2.0     2.0  100.00    2
9313            Ramamurthy Nagar         1200  4.0     1.0  125.00    4
2575                  Whitefield  2830 - 2882  5.0     0.0  145.50    4
1598                       Begur         1550  4.0     2.0  130.00    4
8844   2nd Phase Judicial Layout         1350  2.0     2.0   47.25    3
8309                  Whitefield         1074  2.0     1.0   42.79    2
10480               Yeshwanthpur         1677  3.0     2.0   92.13    3
6280                  JCR Layout         1060  2.0     2.0   37.00    2
5155                 Mahadevpura         1058  2.0     2.0   85.00    2

## Fixing Outliers

In [27]:
df.describe()

              price           BHK
count  13320.000000  13320.000000
mean     112.565627      2.802778
std      148.971674      1.294496
min        8.000000      1.000000
25%       50.000000      2.000000
50%       72.000000      3.000000
75%      120.000000      3.000000
max     3600.000000     43.000000

In [28]:
df[df.BHK>20]

                       location total_sqft  bath balcony  price  BHK
1718  2Electronic City Phase II       8000  27.0     0.0  230.0   27
4684                Munnekollal       2400  40.0     0.0  660.0   43

In [29]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

As '1133 - 1384' contains - in it , so we need to fix this . we will take mean of both and then consider a total sqft value

In [30]:
def sort_sqft(i):
    tempval = i.split('-')
    if len(tempval) >= 2:
        tempval = [float(x) for x in tempval]
        return sum(tempval)/len(tempval)
    try:
        return float(i)   
    except:
        return None

In [31]:
df['total_sqft']  = df['total_sqft'].apply(sort_sqft)

In [32]:
df.sample(20)

,location,total_sqft,bath,balcony,price,BHK
5550,Ramamurthy Nagar,1006.0,2.0,1.0,57.00,2
3722,Marenahalli,1865.0,4.0,2.0,140.00,3
1153,Bileshivale,6000.0,5.0,3.0,400.00,4
7811,KR Puram,3657.0,5.0,2.0,310.00,5
351,Harlur,1508.0,2.0,1.0,77.00,2
3648,Electronic City Phase II,1000.0,2.0,1.0,28.88,2
4084,Hegde Nagar,1965.0,4.0,2.0,125.00,3
12144,Shikaripalya,1025.0,2.0,1.0,39.98,2
10495,Ramamurthy Nagar,1050.0,2.0,1.0,51.66,2
5403,4th T block Jayanagar,2080.0,4.0,2.0,440.00,4
9844,"Judicial Layout, Kanakapura Road,",1100.0,3.0,2.0,53.00,3
2788,Rachenahalli,440.0,1.0,0.0,28.00,1
8716,Raghavendra Layout,1499.0,3.0,2.0,89.00,3
783,Mylasandra,900.0,7.0,2.0,76.00,6
4886,Hoodi,1108.0,2.0,1.0,87.00,2
6237,Ramagondanahalli,1451.0,3.0,1.0,60.44,3
12600,Bannerghatta Road,3000.0,4.0,2.0,140.00,4
8241,Binny Pete,1282.0,3.0,2.0,178.00,3
10790,Kothanur,1142.0,2.0,2.0,56.00,2
4987,Doddakallasandra,2493.0,3.0,2.0,115.00,3

In [33]:
## price is in lakhs so we need price per square ft
df['price_per_sqft'] = df['price'] * 100000/df['total_sqft']

In [34]:
df.sample(20)

,location,total_sqft,bath,balcony,price,BHK,price_per_sqft
5653,Jigani,1221.0,3.0,3.0,52.00,3,4258.804259
13066,Margondanahalli,1334.0,2.0,1.0,67.76,2,5079.460270
1618,Ramamurthy Nagar,1600.0,3.0,2.0,75.00,3,4687.500000
8144,Haralur Road,1194.0,2.0,2.0,47.00,2,3936.348409
5415,BTM Layout,600.0,4.0,2.0,122.00,4,20333.333333
3277,Marathahalli,1215.0,2.0,2.0,58.86,2,4844.444444
10565,Byrasandra,1140.0,2.0,3.0,60.00,2,5263.157895
1647,Rustam Bagh Layout,1300.0,2.0,2.0,65.00,2,5000.000000
7997,ITPL,1200.0,3.0,1.0,56.12,3,4676.666667
9166,Thanisandra,1343.0,2.0,2.0,75.00,2,5584.512286
5770,Haralur Road,1200.0,5.0,2.0,255.00,5,21250.000000
7805,Punappa Layout,1310.0,2.0,1.0,55.00,3,4198.473282
1982,Remco Bhel Layout,1685.0,2.0,1.0,110.00,3,6528.189911
4021,Gopalkrishna Nagar,1280.0,2.0,1.0,75.00,2,5859.375000
13100,Sarjapur Road,1115.0,2.0,2.0,50.00,2,4484.304933
8269,Hegde Nagar,1340.0,2.0,2.0,72.00,2,5373.134328
4079,Chandapura,520.0,1.0,1.0,14.04,1,2700.000000
4749,Raja Rajeshwari Nagar,1395.0,2.0,2.0,72.00,3,5161.290323
12062,Electronic City Phase II,1305.0,3.0,1.0,65.00,3,4980.842912
8159,Kathriguppe,1300.0,3.0,2.0,77.99,3,5999.230769

In [35]:
df.describe()

         total_sqft         price           BHK  price_per_sqft
count  13274.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694    112.565627      2.802778    7.907501e+03
std     1238.405258    148.971674      1.294496    1.064296e+05
min        1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000    120.000000      3.000000    7.311746e+03
max    52272.000000   3600.000000     43.000000    1.200000e+07

In [36]:
df['location'].value_counts()  
## we can't do OHE wo se have to reduce the 
#locations so we replce the values of location having < 10 named as others

Whitefield                        541
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [37]:
df['location'] = df['location'].apply(lambda x : x.strip())

## removing blank spaces from location text

In [38]:
df.sample(20)

,location,total_sqft,bath,balcony,price,BHK,price_per_sqft
12864,Bommanahalli,1050.0,2.0,2.0,54.00,2,5142.857143
9858,P&T Layout,935.0,2.0,1.0,45.90,2,4909.090909
4417,Marathahalli,1075.0,2.0,2.0,52.43,2,4877.209302
11562,Hennur Road,1450.0,3.0,2.0,79.00,3,5448.275862
11130,KR Puram,1204.0,2.0,2.0,58.00,2,4817.275748
9933,Basaveshwara Nagar Yelahanka,3210.0,4.0,2.0,380.00,3,11838.006231
9770,Brookefield,1389.0,2.0,2.0,94.00,2,6767.458603
6570,Chennappa Layout,1280.0,2.0,1.0,48.00,3,3750.000000
12978,Kothannur,1404.0,2.0,1.0,56.15,3,3999.287749
13301,Kothanur,1454.0,3.0,3.0,71.50,3,4917.469051
4603,9th Phase JP Nagar,1005.0,2.0,1.0,43.00,2,4278.606965
12296,Uttarahalli,1330.0,2.0,1.0,57.00,3,4285.714286
4135,Budigere,1820.0,3.0,2.0,93.00,3,5109.890110
5627,Hebbal,1138.0,2.0,1.0,110.00,2,9666.080844
3409,Indira Nagar 3rd Stage,1740.0,3.0,2.0,199.00,3,11436.781609
153,Sanjeevini Nagar,2795.0,4.0,2.0,235.00,3,8407.871199
5487,Tumkur Road,1250.0,2.0,2.0,33.00,2,2640.000000
10904,Brookefield,1518.0,3.0,3.0,80.00,3,5270.092227
12212,Green Glen Layout,1715.0,3.0,3.0,120.00,3,6997.084548
3984,Uttarahalli,1312.5,3.0,0.0,51.19,3,3900.190476

In [39]:
location_counts = df['location'].value_counts()

In [40]:
location_counts_less_than_10 = location_counts[location_counts<=10]

In [41]:
df['location'] = df['location'].apply(lambda x: "others" if x in location_counts_less_than_10 else x )

In [42]:
df.sample(2)

         location  total_sqft bath balcony  price  BHK  price_per_sqft
9066       others       800.0  1.0     1.0   29.0    2          3625.0
4281  Kaggalipura      2400.0  3.0     1.0  165.0    3          6875.0

In [43]:
df.shape

(13320, 7)

In [44]:
df['location'].value_counts()

others                2885
Whitefield             542
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: location, Length: 242, dtype: int64

## outlier detection and removal

In [45]:
df.describe()

         total_sqft         price           BHK  price_per_sqft
count  13274.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694    112.565627      2.802778    7.907501e+03
std     1238.405258    148.971674      1.294496    1.064296e+05
min        1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000    120.000000      3.000000    7.311746e+03
max    52272.000000   3600.000000     43.000000    1.200000e+07

In [46]:
(df['total_sqft']/df['BHK']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [47]:
df = df[((df['total_sqft']/df['BHK'])>= 300 )]

In [48]:
df.describe()

         total_sqft         price           BHK  price_per_sqft
count  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544    111.382401      2.650838     6303.979357
std     1261.271296    152.077329      0.976678     4162.237981
min      300.000000      8.440000      1.000000      267.829813
25%     1116.000000     49.000000      2.000000     4210.526316
50%     1300.000000     70.000000      3.000000     5294.117647
75%     1700.000000    115.000000      3.000000     6916.666667
max    52272.000000   3600.000000     16.000000   176470.588235

In [49]:
df.shape

(12530, 7)

In [50]:
df['price_per_sqft'].describe()

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [51]:
def remove_outliers(df):
    remove_outlier_df = pd.DataFrame()
    for key,subdf in df.groupby('location'):
        mean = np.mean(subdf.price_per_sqft)
        stddev = np.std(subdf.price_per_sqft)
        new_df = subdf[ ((subdf.price_per_sqft > (mean-stddev)) & (subdf.price_per_sqft <= (mean+stddev)) )]
        remove_outlier_df = pd.concat([remove_outlier_df,new_df], ignore_index = False)
    return remove_outlier_df

In [52]:
df = remove_outliers(df)

In [53]:
df.shape

(10301, 7)

In [54]:
df.describe()

         total_sqft         price           BHK  price_per_sqft
count  10301.000000  10301.000000  10301.000000    10301.000000
mean    1508.440608     91.286372      2.574896     5659.062876
std      880.694214     86.342786      0.897649     2265.774749
min      300.000000     10.000000      1.000000     1250.000000
25%     1110.000000     49.000000      2.000000     4244.897959
50%     1286.000000     67.000000      2.000000     5175.600739
75%     1650.000000    100.000000      3.000000     6428.571429
max    30400.000000   2200.000000     16.000000    24509.803922

In [55]:
def remove_outliers_bhk(df):
    exculde_values = np.array([])
    for location,location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('BHK'):
            bhk_stats[bhk] ={
                "mean" : np.mean(bhk_df.price_per_sqft),
                "std": np.std(bhk_df.price_per_sqft),
                "count":bhk_df.shape[0]
            }
        print(location,bhk_stats)
        print('*'*100)
        for bhk, bhk_df in location_df.groupby('BHK'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats["count"]> 5:
                exculde_values = np.append(exculde_values,bhk_df[bhk_df.price_per_sqft < (stats['mean'])].index.values)
    print(exculde_values)
    print(exculde_values.shape)
    return df.drop(exculde_values,axis='index')

In [56]:
df = remove_outliers_bhk(df)

1st Block Jayanagar {2: {'mean': 11983.805668016194, 'std': 0.0, 'count': 1}, 3: {'mean': 11756.16905248807, 'std': 701.6243657657865, 'count': 3}, 4: {'mean': 15018.711280365416, 'std': 1.2278182423353805, 'count': 3}}
****************************************************************************************************
1st Phase JP Nagar {1: {'mean': 5952.380952380952, 'std': 0.0, 'count': 1}, 2: {'mean': 7931.806799837383, 'std': 1534.1422783514054, 'count': 8}, 3: {'mean': 9151.192151725822, 'std': 1054.731726021645, 'count': 7}, 4: {'mean': 7537.92218148637, 'std': 1607.0591069513537, 'count': 3}, 5: {'mean': 5666.666666666667, 'std': 0.0, 'count': 1}}
****************************************************************************************************
2nd Phase Judicial Layout {2: {'mean': 3851.8518518518517, 'std': 497.593660834978, 'count': 3}, 3: {'mean': 3620.93991671624, 'std': 241.87983343248052, 'count': 5}}
****************************************************************************************************
2nd Stage Nagarbhavi {4: {'mean': 15891.203703703704, 'std': 1668.9846920398563, 'count': 4}, 6: {'mean': 16891.666666666668, 'std': 1858.333333333333, 'count': 2}}
****************************************************************************************************
5th Block Hbr Layout {2: {'mean': 4755.410708222867, 'std': 374.06419031565235, 'count': 3}, 3: {'mean': 5511.811023622047, 'std': 0.0, 'count': 1}, 5: {'mean': 3611.1111111111113, 'std': 0.0, 'count': 1}, 6: {'mean': 5882.35294117647, 'std': 0.0, 'count': 1}}
****************************************************************************************************
5th Phase JP Nagar {1: {'mean': 4628.623188405797, 'std': 371.376811594203, 'count': 2}, 2: {'mean': 5067.359785883266, 'std': 453.24956183513086, 'count': 17}, 3: {'mean': 5112.892626961968, 'std': 526.8794907246175, 'count': 8}, 5: {'mean': 4325.0, 'std': 75.0, 'count': 2}}
****************************************************************************************************
6th Phase JP Nagar {2: {'mean': 5932.976565810136, 'std': 671.9347030151997, 'count': 8}, 3: {'mean': 8403.2863080867, 'std': 1515.4146231166221, 'count': 5}, 4: {'mean': 7704.160246533128, 'std': 0.0, 'count': 1}}
****************************************************************************************************
7th Phase JP Nagar {1: {'mean': 6133.333333333334, 'std': 133.33333333333348, 'count': 2}, 2: {'mean': 6272.516842644272, 'std': 1012.7881476778178, 'count': 40}, 3: {'mean': 6612.8616825981035, 'std': 1181.6582893458344, 'count': 57}, 4: {'mean': 6028.22068063778, 'std': 1482.7661351832348, 'count': 2}}
****************************************************************************************************
8th Phase JP Nagar {1: {'mean': 6357.427937915743, 'std': 267.1694064501245, 'count': 4}, 2: {'mean': 4324.406715739656, 'std': 1131.8308808521078, 'count': 22}, 3: {'mean': 4293.744876160689, 'std': 723.4267508470377, 'count': 17}, 4: {'mean': 4539.6147062813725, 'std': 195.35428340140427, 'count': 3}, 5: {'mean': 4335.260115606937, 'std': 0.0, 'count': 1}}
****************************************************************************************************
9th Phase JP Nagar {1: {'mean': 3333.3333333333335, 'std': 0.0, 'count': 1}, 2: {'mean': 4653.051383903641, 'std': 834.4408302683472, 'count': 20}, 3: {'mean': 4518.339436369508, 'std': 790.2476753262926, 'count': 9}, 4: {'mean': 5336.8421052631575, 'std': 800.5999597024291, 'count': 3}}
****************************************************************************************************
AECS Layout {2: {'mean': 4921.300339526721, 'std': 619.6355499375203, 'count': 7}, 3: {'mean': 4500.0, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Abbigere {1: {'mean': 3310.9205535075066, 'std': 610.6480739434737, 'count': 2}, 2: {'mean': 4058.165803016323, 'std': 62.23518728011486, 'count': 13}, 3: {'mean': 3571.4285714285716, 'std': 0.0, 'count': 1}, 6: {'mean': 3165.4545454545455, 'std': 74.5454545454545, 'count': 2}, 8: {'mean': 5000.0, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Akshaya Nagar {2: {'mean': 4781.22783734999, 'std': 453.10974836521865, 'count': 17}, 3: {'mean': 5294.361032273931, 'std': 513.4396107693667, 'count': 30}}
****************************************************************************************************
Ambalipura {1: {'mean': 5690.909090909091, 'std': 0.0, 'count': 1}, 2: {'mean': 5886.737386783397, 'std': 736.0640513407117, 'count': 10}, 3: {'mean': 6331.134555298749, 'std': 569.718562351169, 'count': 7}, 4: {'mean': 5503.386809269163, 'std': 339.75044563279835, 'count': 2}}
****************************************************************************************************
Ambedkar Nagar {2: {'mean': 6454.091928430547, 'std': 182.0843219299883, 'count': 5}, 3: {'mean': 6572.746532916982, 'std': 422.13464472691317, 'count': 19}, 4: {'mean': 7684.086312870249, 'std': 531.2111375546801, 'count': 2}}
****************************************************************************************************
Amruthahalli {1: {'mean': 4020.618556701031, 'std': 0.0, 'count': 1}, 2: {'mean': 4953.838379629301, 'std': 823.6966143070669, 'count': 12}, 3: {'mean': 5574.846418310635, 'std': 1077.4444900329127, 'count': 7}}
****************************************************************************************************
Anandapura {2: {'mean': 4335.741837049204, 'std': 710.6695705040866, 'count': 14}, 3: {'mean': 4376.900862764794, 'std': 811.4741024839058, 'count': 5}, 4: {'mean': 5145.797598627787, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Ananth Nagar {1: {'mean': 2800.0, 'std': 0.0, 'count': 4}, 2: {'mean': 3015.424249737158, 'std': 491.5389870277813, 'count': 19}, 3: {'mean': 3239.9055148973916, 'std': 333.6052126335633, 'count': 3}}
****************************************************************************************************
Anekal {1: {'mean': 3307.549188983317, 'std': 602.8526665064047, 'count': 6}, 2: {'mean': 3418.531131818201, 'std': 543.1514964904059, 'count': 22}, 3: {'mean': 4075.680581158921, 'std': 340.19143395777115, 'count': 4}, 4: {'mean': 3000.0, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Anjanapura {2: {'mean': 3451.5654968214635, 'std': 402.7964034804156, 'count': 7}, 3: {'mean': 4783.11324361657, 'std': 2019.9576386770505, 'count': 4}, 4: {'mean': 3852.102102102102, 'std': 796.5465465465463, 'count': 2}}
****************************************************************************************************
Ardendale {2: {'mean': 5596.405228758171, 'std': 122.54901960784309, 'count': 2}, 3: {'mean': 5378.184432045396, 'std': 324.88136834734956, 'count': 10}, 4: {'mean': 6445.687085352693, 'std': 663.0498079730814, 'count': 7}}
****************************************************************************************************
Arekere {1: {'mean': 4666.666666666667, 'std': 0.0, 'count': 1}, 2: {'mean': 4884.730750645279, 'std': 371.1132245946985, 'count': 6}, 3: {'mean': 5822.747277384037, 'std': 695.6480303741811, 'count': 3}, 4: {'mean': 5239.852398523985, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Attibele {1: {'mean': 2823.051298353896, 'std': 440.885126183788, 'count': 18}, 2: {'mean': 3204.1609520225243, 'std': 617.2070386969107, 'count': 12}, 3: {'mean': 4330.95861895704, 'std': 1307.8696742735906, 'count': 4}, 4: {'mean': 3840.959409594096, 'std': 540.9594095940961, 'count': 2}}
****************************************************************************************************
BEML Layout {2: {'mean': 5944.048212904286, 'std': 1628.8084083258766, 'count': 6}, 3: {'mean': 4250.0, 'std': 0.0, 'count': 4}, 5: {'mean': 9375.0, 'std': 0.0, 'count': 1}}
****************************************************************************************************
BTM 2nd Stage {2: {'mean': 5621.791028153005, 'std': 795.7682556051348, 'count': 14}, 3: {'mean': 10282.085985474581, 'std': 3831.770494859885, 'count': 9}, 5: {'mean': 13913.04347826087, 'std': 0.0, 'count': 1}}
****************************************************************************************************
BTM Layout {1: {'mean': 4444.444444444444, 'std': 0.0, 'count': 1}, 2: {'mean': 5073.776447337828, 'std': 424.90705275056126, 'count': 4}, 3: {'mean': 5685.2029893641175, 'std': 881.6401846985812, 'count': 7}, 6: {'mean': 5000.0, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Babusapalaya {2: {'mean': 3799.9594889549185, 'std': 423.8304869618115, 'count': 11}, 3: {'mean': 3669.941030877054, 'std': 601.932707346431, 'count': 10}}
****************************************************************************************************
Badavala Nagar {2: {'mean': 6357.9277864992155, 'std': 0.0, 'count': 2}, 3: {'mean': 6279.828480978357, 'std': 42.27887875035828, 'count': 7}}
****************************************************************************************************
Balagere {1: {'mean': 5865.01000449379, 'std': 539.315075028032, 'count': 9}, 2: {'mean': 6191.4951431862855, 'std': 543.3822583816924, 'count': 28}}
****************************************************************************************************
Banashankari {1: {'mean': 8333.333333333334, 'std': 0.0, 'count': 2}, 2: {'mean': 5038.253269278572, 'std': 1168.5163463486565, 'count': 31}, 3: {'mean': 5817.282245183153, 'std': 1663.833391137828, 'count': 29}, 4: {'mean': 3800.0, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Banashankari Stage II {2: {'mean': 8701.636799298034, 'std': 1030.287972433991, 'count': 4}, 3: {'mean': 10723.280423280425, 'std': 4231.90962768462, 'count': 6}, 4: {'mean': 12500.0, 'std': 0.0, 'count': 1}, 5: {'mean': 18214.285714285714, 'std': 3035.7142857142853, 'count': 2}}
****************************************************************************************************
Banashankari Stage III {2: {'mean': 5430.250387687147, 'std': 1871.4365421808766, 'count': 4}, 3: {'mean': 5330.43635317069, 'std': 1014.1370099612311, 'count': 10}, 4: {'mean': 7333.333333333333, 'std': 2054.8046676563254, 'count': 3}, 6: {'mean': 5000.0, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Banashankari Stage V {2: {'mean': 3983.4541062801936, 'std': 527.4154589371976, 'count': 2}, 3: {'mean': 3581.5713402611805, 'std': 544.8260330690271, 'count': 9}}
****************************************************************************************************
Banashankari Stage VI {2: {'mean': 5072.0195454829345, 'std': 22.81429179660186, 'count': 3}, 3: {'mean': 5006.925310122253, 'std': 23.924063833179062, 'count': 3}, 4: {'mean': 5041.801948051948, 'std': 2237.063491984229, 'count': 4}}
****************************************************************************************************
Banaswadi {1: {'mean': 6641.366223908918, 'std': 0.0, 'count': 1}, 2: {'mean': 5110.715347907356, 'std': 582.5694084547944, 'count': 10}, 3: {'mean': 4656.25, 'std': 0.0, 'count': 1}, 5: {'mean': 7356.8050446663165, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Banjara Layout {2: {'mean': 6635.496110794916, 'std': 905.9365352849989, 'count': 3}, 3: {'mean': 5600.0, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Bannerghatta {2: {'mean': 6630.037324398989, 'std': 872.6962508901346, 'count': 4}, 3: {'mean': 7565.595658950089, 'std': 786.4254337865935, 'count': 4}, 4: {'mean': 8398.03739052883, 'std': 97.90458840399697, 'count': 2}}
****************************************************************************************************
Bannerghatta Road {1: {'mean': 4932.455648926237, 'std': 741.987966876004, 'count': 5}, 2: {'mean': 5156.7223242312, 'std': 951.8519337869209, 'count': 59}, 3: {'mean': 5384.498056381959, 'std': 1219.6689012468119, 'count': 71}, 4: {'mean': 5968.786895986739, 'std': 1737.4673135012401, 'count': 8}, 5: {'mean': 5851.851851851852, 'std': 0.0, 'count': 1}, 6: {'mean': 8108.108108108108, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Basavangudi {2: {'mean': 9700.42512839123, 'std': 665.8646001174526, 'count': 6}, 3: {'mean': 9210.853069429275, 'std': 904.4272935920624, 'count': 10}, 4: {'mean': 10095.80105992662, 'std': 95.80105992662084, 'count': 2}}
****************************************************************************************************
Basaveshwara Nagar {2: {'mean': 6750.0, 'std': 552.7707983925667, 'count': 5}, 3: {'mean': 7834.767884859602, 'std': 59.968957245661386, 'count': 2}, 5: {'mean': 11069.444444444445, 'std': 1847.2222222222217, 'count': 2}}
****************************************************************************************************
Battarahalli {2: {'mean': 4345.724306884857, 'std': 823.6340914029164, 'count': 9}, 3: {'mean': 5015.40017552159, 'std': 337.7428143761158, 'count': 8}}
****************************************************************************************************
Begur {2: {'mean': 4961.668185533498, 'std': 39.10751993914706, 'count': 3}, 3: {'mean': 4510.654979278204, 'std': 599.1143016556773, 'count': 9}, 4: {'mean': 3906.25, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Begur Road {2: {'mean': 3624.166282880881, 'std': 262.3730178311292, 'count': 35}, 3: {'mean': 3684.8720181009567, 'std': 378.82522322146735, 'count': 28}, 4: {'mean': 4787.9894501927365, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Bellandur {1: {'mean': 4210.526315789473, 'std': 0.0, 'count': 1}, 2: {'mean': 5116.644099551324, 'std': 1016.3979870126873, 'count': 52}, 3: {'mean': 5647.571810653258, 'std': 1127.9673046785176, 'count': 31}, 4: {'mean': 6759.122130530177, 'std': 845.9579630611066, 'count': 4}}
****************************************************************************************************
Benson Town {2: {'mean': 12686.709975197631, 'std': 3611.8164390019756, 'count': 4}, 3: {'mean': 14313.731148045554, 'std': 2420.56421489562, 'count': 3}, 4: {'mean': 14856.497304850036, 'std': 282.5062734599014, 'count': 2}}
****************************************************************************************************
Bharathi Nagar {2: {'mean': 4813.740209190312, 'std': 471.43026983759114, 'count': 8}, 3: {'mean': 4200.120192307692, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Bhoganhalli {2: {'mean': 5417.416718889453, 'std': 285.36806332317167, 'count': 12}, 3: {'mean': 6125.4200445093, 'std': 899.1112373435706, 'count': 13}, 4: {'mean': 5777.756745789307, 'std': 871.3161320532748, 'count': 11}}
****************************************************************************************************
Billekahalli {2: {'mean': 5962.1264143650205, 'std': 952.8379048046246, 'count': 7}, 3: {'mean': 6179.829109009818, 'std': 1029.8742088847782, 'count': 6}}
****************************************************************************************************
Binny Pete {1: {'mean': 8034.164957849169, 'std': 901.878395083154, 'count': 4}, 2: {'mean': 7933.924709828325, 'std': 1003.8042279006136, 'count': 2}, 3: {'mean': 8471.722137179819, 'std': 951.1093605219069, 'count': 6}, 4: {'mean': 8382.135462880804, 'std': 1141.674060928719, 'count': 2}}
****************************************************************************************************
Bisuvanahalli {2: {'mean': 3863.8012733035357, 'std': 405.2872025065846, 'count': 12}, 3: {'mean': 4006.582535464375, 'std': 468.023038908377, 'count': 31}}
****************************************************************************************************
Bommanahalli {1: {'mean': 4302.184466019417, 'std': 552.1844660194174, 'count': 2}, 2: {'mean': 4544.41960101665, 'std': 569.7400942075514, 'count': 9}, 3: {'mean': 4254.328104328105, 'std': 505.922183603648, 'count': 4}, 4: {'mean': 4047.6190476190477, 'std': 0.0, 'count': 1}, 8: {'mean': 4666.666666666667, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Bommasandra {2: {'mean': 3813.947572153106, 'std': 244.23665886444502, 'count': 19}, 3: {'mean': 3815.8530659565145, 'std': 403.8116627539011, 'count': 11}}
****************************************************************************************************
Bommasandra Industrial Area {2: {'mean': 2887.892987573868, 'std': 0.47920744469383775, 'count': 11}, 3: {'mean': 2863.160206574431, 'std': 59.9654742104211, 'count': 7}}
****************************************************************************************************
Bommenahalli {3: {'mean': 8565.382032363164, 'std': 1314.9620051314946, 'count': 3}, 4: {'mean': 8564.836466843257, 'std': 717.6221010374835, 'count': 6}}
****************************************************************************************************
Brookefield {2: {'mean': 5837.4926933902225, 'std': 903.6255944977522, 'count': 19}, 3: {'mean': 5795.407173862258, 'std': 1201.0625471599164, 'count': 13}, 4: {'mean': 6680.252598242926, 'std': 2089.3417875296827, 'count': 7}, 5: {'mean': 8974.358974358975, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Budigere {1: {'mean': 5155.722891566265, 'std': 166.41859289793305, 'count': 4}, 2: {'mean': 5034.160717791255, 'std': 199.14597741069483, 'count': 23}, 3: {'mean': 4995.78214595029, 'std': 304.7321376982579, 'count': 22}}
****************************************************************************************************
CV Raman Nagar {1: {'mean': 7092.198581560284, 'std': 0.0, 'count': 1}, 2: {'mean': 5155.724160108177, 'std': 750.6157631590067, 'count': 18}, 3: {'mean': 5069.118281564101, 'std': 895.7302193450796, 'count': 8}}
****************************************************************************************************
Chamrajpet {1: {'mean': 16831.68316831683, 'std': 0.0, 'count': 1}, 2: {'mean': 9792.423102012144, 'std': 3818.3998448404645, 'count': 5}, 3: {'mean': 7141.805995187703, 'std': 751.0857983228121, 'count': 3}, 4: {'mean': 10827.574839290468, 'std': 1880.2064182378372, 'count': 2}}
****************************************************************************************************
Chandapura {1: {'mean': 2520.6090114704184, 'std': 140.15700556082749, 'count': 19}, 2: {'mean': 2822.693874744619, 'std': 410.55761448180084, 'count': 37}, 3: {'mean': 2853.1236984866746, 'std': 427.6538083676819, 'count': 26}, 4: {'mean': 3498.942358540455, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Channasandra {2: {'mean': 3613.5088756107502, 'std': 502.5086800433043, 'count': 24}, 3: {'mean': 4500.644242719408, 'std': 1005.213241509808, 'count': 9}, 4: {'mean': 5963.333333333333, 'std': 0.0, 'count': 1}, 6: {'mean': 4285.714285714285, 'std': 0.0, 'count': 1}}
****************************************************************************************************

Mysore Road {2: {'mean': 5045.13969490634, 'std': 676.0447047409738, 'count': 22}, 3: {'mean': 5084.04096522042, 'std': 644.0777907893389, 'count': 13}}
****************************************************************************************************
NGR Layout {2: {'mean': 4489.826297505917, 'std': 29.998439759192205, 'count': 8}}
****************************************************************************************************
NRI Layout {2: {'mean': 5086.0370370370365, 'std': 800.8574434434588, 'count': 3}, 3: {'mean': 4229.419325502037, 'std': 445.2318722352784, 'count': 3}, 4: {'mean': 5348.837209302325, 'std': 0.0, 'count': 1}, 5: {'mean': 5200.0, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Nagarbhavi {1: {'mean': 5457.622557871108, 'std': 1066.4073158513404, 'count': 3}, 2: {'mean': 6395.988878268282, 'std': 3229.6096758102262, 'count': 16}, 3: {'mean': 5500.568824727776, 'std': 1968.8111694638117, 'count': 17}, 4: {'mean': 12000.0, 'std': 2000.0, 'count': 2}, 5: {'mean': 7200.0, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Nagasandra {2: {'mean': 5482.312925170068, 'std': 584.353741496599, 'count': 2}, 3: {'mean': 5757.575757575758, 'std': 0.0, 'count': 1}, 4: {'mean': 6235.119047619048, 'std': 193.45238095238074, 'count': 2}}
****************************************************************************************************
Nagavara {1: {'mean': 3500.0, 'std': 0.0, 'count': 1}, 2: {'mean': 4493.627819930604, 'std': 461.4406306632376, 'count': 6}, 3: {'mean': 6307.806359887731, 'std': 1811.5738366229782, 'count': 3}, 4: {'mean': 5265.610902466384, 'std': 257.5980819535639, 'count': 2}}
****************************************************************************************************
Nagavarapalya {1: {'mean': 7854.609929078014, 'std': 262.38738629341753, 'count': 4}, 2: {'mean': 7379.161208587787, 'std': 622.908546711891, 'count': 3}, 3: {'mean': 6153.846153846154, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Narayanapura {2: {'mean': 6417.676818637855, 'std': 641.5678764128289, 'count': 4}, 3: {'mean': 5624.607559361702, 'std': 176.28469731669043, 'count': 4}}
****************************************************************************************************
Neeladri Nagar {1: {'mean': 3750.8127802427566, 'std': 837.10794554603, 'count': 3}, 2: {'mean': 3601.3181568393316, 'std': 896.300794280481, 'count': 5}, 3: {'mean': 4446.286519616966, 'std': 851.8567154201359, 'count': 3}, 10: {'mean': 4000.0, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Nehru Nagar {2: {'mean': 4397.856538497696, 'std': 147.59800695684862, 'count': 2}, 3: {'mean': 5323.390108322737, 'std': 476.8505751937556, 'count': 5}, 4: {'mean': 4994.3116788028365, 'std': 83.97863012649077, 'count': 2}}
****************************************************************************************************
OMBR Layout {2: {'mean': 6060.732226936822, 'std': 765.1028054888121, 'count': 8}, 3: {'mean': 6395.974418965156, 'std': 1354.455921644706, 'count': 4}, 4: {'mean': 8088.235294117647, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Old Airport Road {2: {'mean': 6488.103629335819, 'std': 666.8103212209145, 'count': 8}, 3: {'mean': 7732.476289952065, 'std': 1345.392120110078, 'count': 3}, 4: {'mean': 7400.652269436281, 'std': 366.6527535174725, 'count': 19}}
****************************************************************************************************
Old Madras Road {2: {'mean': 5660.295741126656, 'std': 850.7558483817651, 'count': 17}, 3: {'mean': 5877.4699494233955, 'std': 658.1522060566687, 'count': 17}, 4: {'mean': 5568.646870314652, 'std': 445.15305178998693, 'count': 10}, 5: {'mean': 6125.232403718459, 'std': 408.1009296148736, 'count': 2}}
****************************************************************************************************
Padmanabhanagar {2: {'mean': 6353.3984086808305, 'std': 1620.4038971043078, 'count': 8}, 3: {'mean': 6103.133559343508, 'std': 1413.7555415488598, 'count': 11}, 4: {'mean': 6176.470588235294, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Pai Layout {2: {'mean': 4275.598787873179, 'std': 847.9319844868568, 'count': 11}, 3: {'mean': 4565.193665374716, 'std': 692.5145408804893, 'count': 5}, 6: {'mean': 4605.263157894737, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Panathur {1: {'mean': 6051.437216338881, 'std': 0.0, 'count': 1}, 2: {'mean': 6163.683079124272, 'std': 522.5629147973473, 'count': 24}, 3: {'mean': 5824.381873424201, 'std': 756.1120640080887, 'count': 5}}
****************************************************************************************************
Parappana Agrahara {1: {'mean': 3750.0, 'std': 0.0, 'count': 1}, 2: {'mean': 3894.570971024669, 'std': 52.57420919375578, 'count': 14}}
****************************************************************************************************
Pattandur Agrahara {2: {'mean': 4818.300127405684, 'std': 256.46926050536257, 'count': 6}, 3: {'mean': 5161.290322580645, 'std': 0.0, 'count': 2}}
****************************************************************************************************
Poorna Pragna Layout {2: {'mean': 4413.125572360624, 'std': 495.68839972297116, 'count': 6}, 3: {'mean': 4049.309690274269, 'std': 111.94750610317409, 'count': 12}}
****************************************************************************************************
Prithvi Layout {2: {'mean': 6037.440123978585, 'std': 549.2881072143185, 'count': 6}, 3: {'mean': 8026.0686177976095, 'std': 1550.1613565960947, 'count': 3}, 4: {'mean': 7988.165680473373, 'std': 0.0, 'count': 1}}
****************************************************************************************************
R.T. Nagar {2: {'mean': 6166.0990284595455, 'std': 2401.6080179377695, 'count': 11}, 3: {'mean': 7778.645543303137, 'std': 2826.244096724054, 'count': 9}, 4: {'mean': 7888.88888888889, 'std': 3247.030932489435, 'count': 3}, 9: {'mean': 4583.333333333333, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Rachenahalli {1: {'mean': 5122.705314009661, 'std': 456.3742317223319, 'count': 3}, 2: {'mean': 5011.121340348212, 'std': 151.79484867635873, 'count': 21}, 3: {'mean': 4932.080211090551, 'std': 417.32880100292226, 'count': 15}, 4: {'mean': 6015.859994531036, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Raja Rajeshwari Nagar {1: {'mean': 4339.6530666138515, 'std': 543.1788208229217, 'count': 5}, 2: {'mean': 4119.938962696688, 'std': 797.0186502026783, 'count': 100}, 3: {'mean': 4316.218711504208, 'std': 847.5993608049711, 'count': 54}, 6: {'mean': 5000.0, 'std': 0.0, 'count': 1}, 8: {'mean': 4930.857487922706, 'std': 1211.8785162729496, 'count': 3}, 9: {'mean': 6666.666666666667, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Rajaji Nagar {1: {'mean': 11363.636363636364, 'std': 0.0, 'count': 1}, 2: {'mean': 13550.152331961022, 'std': 2381.326440584, 'count': 14}, 3: {'mean': 14106.804544911796, 'std': 2072.9910392276593, 'count': 38}, 4: {'mean': 14088.257966543091, 'std': 2880.37358890078, 'count': 13}, 5: {'mean': 13757.502632502632, 'std': 2306.3948735573995, 'count': 4}, 6: {'mean': 18000.0, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Rajiv Nagar {2: {'mean': 6830.924551419025, 'std': 533.7908722073457, 'count': 3}, 3: {'mean': 7396.449704142012, 'std': 0.0, 'count': 1}, 4: {'mean': 6315.890833058215, 'std': 707.5762737250174, 'count': 6}}
****************************************************************************************************
Ramagondanahalli {1: {'mean': 5555.555555555556, 'std': 0.0, 'count': 1}, 2: {'mean': 4606.370427585701, 'std': 1235.7180227997476, 'count': 22}, 3: {'mean': 5708.567918939573, 'std': 1498.853091063744, 'count': 23}, 4: {'mean': 6714.753447126966, 'std': 1179.0391614126816, 'count': 2}}
****************************************************************************************************
Ramamurthy Nagar {1: {'mean': 6956.790123456791, 'std': 336.85836171956186, 'count': 3}, 2: {'mean': 4839.4046288157915, 'std': 1129.149258888949, 'count': 31}, 3: {'mean': 4632.116991709435, 'std': 792.226666356907, 'count': 12}, 4: {'mean': 6625.8963789827985, 'std': 894.8595331526992, 'count': 3}, 5: {'mean': 4285.714285714285, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Rayasandra {1: {'mean': 4541.075143242948, 'std': 72.99003685996877, 'count': 2}, 2: {'mean': 4425.750666858969, 'std': 146.01251895301732, 'count': 3}, 3: {'mean': 4423.733966062286, 'std': 267.25133087914065, 'count': 9}, 4: {'mean': 4449.648711943794, 'std': 0.0, 'count': 1}, 5: {'mean': 4027.777777777778, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Sahakara Nagar {2: {'mean': 5176.637205930015, 'std': 925.9779110123278, 'count': 19}, 3: {'mean': 6966.244540905622, 'std': 1251.2106654813592, 'count': 10}, 4: {'mean': 7445.229681978799, 'std': 554.7703180212015, 'count': 2}}
****************************************************************************************************
Sanjay nagar {2: {'mean': 6408.0027636555515, 'std': 1008.5806527993847, 'count': 9}, 3: {'mean': 8195.88626739262, 'std': 2037.2976973824375, 'count': 5}, 5: {'mean': 7575.757575757576, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Sarakki Nagar {3: {'mean': 11677.772648686641, 'std': 1164.2113099564785, 'count': 7}, 4: {'mean': 11118.213921641485, 'std': 58.695321233468675, 'count': 3}}
****************************************************************************************************
Sarjapur {1: {'mean': 2874.133538039441, 'std': 174.43064872118748, 'count': 4}, 2: {'mean': 3604.54588824458, 'std': 718.1819172813347, 'count': 33}, 3: {'mean': 4675.963272449762, 'std': 1139.724491656155, 'count': 20}, 4: {'mean': 4798.6758762009795, 'std': 982.6102032032919, 'count': 11}}
****************************************************************************************************
Sarjapur  Road {1: {'mean': 5133.293879111827, 'std': 1040.4585511011248, 'count': 9}, 2: {'mean': 5376.764753392969, 'std': 940.2539293683719, 'count': 114}, 3: {'mean': 6073.663884869081, 'std': 1213.317237454019, 'count': 152}, 4: {'mean': 6515.374368146306, 'std': 1322.5099449631382, 'count': 26}, 5: {'mean': 5797.897681160006, 'std': 1209.3915232816719, 'count': 4}}
****************************************************************************************************
Sarjapura - Attibele Road {1: {'mean': 3195.945945945946, 'std': 0.0, 'count': 1}, 2: {'mean': 2980.300110459942, 'std': 240.74806987622512, 'count': 6}, 3: {'mean': 3677.009046693256, 'std': 568.4897414332066, 'count': 7}}
****************************************************************************************************
Sector 2 HSR Layout {1: {'mean': 7556.675062972292, 'std': 0.0, 'count': 1}, 2: {'mean': 6104.475872678937, 'std': 867.7629358050074, 'count': 4}, 3: {'mean': 5840.870632537299, 'std': 558.3617721495737, 'count': 3}}
****************************************************************************************************
Sector 7 HSR Layout {2: {'mean': 8517.539849533492, 'std': 29.88399409911783, 'count': 4}, 3: {'mean': 8621.066433566433, 'std': 944.6855296740544, 'count': 6}, 4: {'mean': 9166.666666666666, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Seegehalli {2: {'mean': 4329.211790848419, 'std': 1166.1042598803597, 'count': 8}, 3: {'mean': 5367.419714920858, 'std': 1586.8132900699522, 'count': 11}, 4: {'mean': 5000.0, 'std': 0.0, 'count': 2}}
****************************************************************************************************
Shampura {2: {'mean': 4708.333333333334, 'std': 291.6666666666665, 'count': 2}, 3: {'mean': 4899.966766367564, 'std': 364.7021331777603, 'count': 3}, 4: {'mean': 5660.377358490566, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Shivaji Nagar {1: {'mean': 8010.471204188481, 'std': 0.0, 'count': 1}, 2: {'mean': 8177.670428057425, 'std': 1680.2831248065638, 'count': 4}, 3: {'mean': 6164.3835616438355, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Singasandra {2: {'mean': 4612.819625700124, 'std': 506.83386852214045, 'count': 10}, 3: {'mean': 4522.865156428246, 'std': 498.5677172187002, 'count': 7}, 4: {'mean': 4451.853329012638, 'std': 613.081735922427, 'count': 2}}
****************************************************************************************************
Somasundara Palya {2: {'mean': 5360.675549919206, 'std': 593.8769277607065, 'count': 8}, 3: {'mean': 4740.491215564561, 'std': 690.4875020957893, 'count': 7}, 4: {'mean': 5833.333333333333, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Sompura {2: {'mean': 3840.4959109430956, 'std': 224.1921863747153, 'count': 4}, 3: {'mean': 3466.687036151407, 'std': 123.29979549236428, 'count': 3}, 4: {'mean': 3953.4883720930234, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Sonnenahalli {1: {'mean': 4998.3598840688865, 'std': 0.012776630869666405, 'count': 2}, 2: {'mean': 4451.776042086879, 'std': 424.19435489209496, 'count': 6}, 3: {'mean': 4706.376756380032, 'std': 441.79167132471156, 'count': 5}}
****************************************************************************************************
Subramanyapura {2: {'mean': 5320.002594928582, 'std': 564.6089957428896, 'count': 14}, 3: {'mean': 5419.591639044803, 'std': 543.0872192059437, 'count': 13}}
****************************************************************************************************
Sultan Palaya {2: {'mean': 5516.726902965547, 'std': 1253.3841087551375, 'count': 5}, 3: {'mean': 6296.180318134044, 'std': 1250.8447106368387, 'count': 3}, 4: {'mean': 6500.0, 'std': 0.0, 'count': 1}}
****************************************************************************************************
TC Palaya {1: {'mean': 4074.074074074074, 'std': 0.0, 'count': 1}, 2: {'mean': 5697.4094763372195, 'std': 619.4809937733468, 'count': 20}, 3: {'mean': 5441.915480148754, 'std': 526.2209882855493, 'count': 25}, 4: {'mean': 6291.666666666667, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Talaghattapura {2: {'mean': 4580.285299806576, 'std': 455.35287836606403, 'count': 4}, 3: {'mean': 6525.339233648821, 'std': 694.1463657221601, 'count': 22}}
****************************************************************************************************
Thanisandra {1: {'mean': 5536.748748889186, 'std': 843.2326580247442, 'count': 24}, 2: {'mean': 5577.18388838983, 'std': 859.6650172856573, 'count': 48}, 3: {'mean': 5963.98561560378, 'std': 646.7048899935486, 'count': 74}, 4: {'mean': 5809.062417390094, 'std': 821.0388724789285, 'count': 6}, 6: {'mean': 4571.428571428572, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Thigalarapalya {2: {'mean': 7367.662128690889, 'std': 250.42902893834392, 'count': 15}, 3: {'mean': 7195.7132993768455, 'std': 312.0510818458644, 'count': 25}, 4: {'mean': 7478.280524334292, 'std': 267.3908548713968, 'count': 11}}
****************************************************************************************************
Thubarahalli {2: {'mean': 6177.47488087532, 'std': 550.0809877574003, 'count': 11}, 3: {'mean': 6182.810245310246, 'std': 353.87655581660107, 'count': 4}, 4: {'mean': 6289.473684210527, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Thyagaraja Nagar {1: {'mean': 12500.0, 'std': 0.0, 'count': 1}, 2: {'mean': 6538.461538461538, 'std': 0.0, 'count': 1}, 3: {'mean': 7500.0, 'std': 0.0, 'count': 1}, 5: {'mean': 7250.0, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Tindlu {2: {'mean': 5123.714149465223, 'std': 97.42574991353615, 'count': 3}, 3: {'mean': 5283.565257806863, 'std': 516.6873757479673, 'count': 4}, 7: {'mean': 5333.333333333333, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Tumkur Road {2: {'mean': 6222.216116265259, 'std': 565.4013168608797, 'count': 8}, 3: {'mean': 6367.716187279277, 'std': 390.8691579620035, 'count': 14}}
****************************************************************************************************
Ulsoor {2: {'mean': 8730.998103368149, 'std': 2062.5115260500042, 'count': 5}, 3: {'mean': 9156.582905880583, 'std': 1457.6390839943092, 'count': 7}, 4: {'mean': 6800.0, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Uttarahalli {1: {'mean': 5446.293494704993, 'std': 0.0, 'count': 1}, 2: {'mean': 4055.878990945823, 'std': 443.82742078600614, 'count': 75}, 3: {'mean': 4083.5276962879593, 'std': 534.1705599671546, 'count': 89}, 4: {'mean': 3333.3333333333335, 'std': 0.0, 'count': 1}, 6: {'mean': 3333.3333333333335, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Varthur {2: {'mean': 4331.910572925388, 'std': 847.3795043583863, 'count': 32}, 3: {'mean': 4836.478103600665, 'std': 892.2656889001147, 'count': 14}}
****************************************************************************************************
Varthur Road {2: {'mean': 3754.9654055540996, 'std': 648.3927903937736, 'count': 7}, 3: {'mean': 3800.411985861906, 'std': 850.7508048357686, 'count': 2}}
****************************************************************************************************
Vasanthapura {2: {'mean': 3558.48776757308, 'std': 145.0953916099316, 'count': 7}}
****************************************************************************************************
Vidyaranyapura {2: {'mean': 4639.399867778706, 'std': 870.5642061348253, 'count': 16}, 3: {'mean': 5418.695502028836, 'std': 956.0813080374586, 'count': 6}, 4: {'mean': 6562.5, 'std': 937.5, 'count': 2}}
****************************************************************************************************
Vijayanagar {1: {'mean': 7513.33715688642, 'std': 1470.1647292081748, 'count': 4}, 2: {'mean': 5936.626849748775, 'std': 879.0177188541079, 'count': 11}, 3: {'mean': 6585.510613483119, 'std': 860.4381230168186, 'count': 17}, 4: {'mean': 12000.0, 'std': 0.0, 'count': 1}, 5: {'mean': 5208.333333333333, 'std': 0.0, 'count': 1}}
****************************************************************************************************
Vishveshwarya Layout {1: {'mean': 4000.0, 'std': 0.0, 'count': 1}, 4: {'mean': 4125.0, 'std': 375.0, 'count': 2}, 6: {'mean': 4380.952380952381, 'std': 0.0, 'count': 1}}

In [57]:
df.sample(20)

,location,total_sqft,bath,balcony,price,BHK,price_per_sqft
8040,Sarjapur Road,1550.0,2.0,1.0,89.00,3,5741.935484
10800,Whitefield,1820.0,3.0,2.0,113.00,3,6208.791209
2965,Uttarahalli,1050.0,2.0,1.0,42.00,2,4000.000000
5079,Whitefield,905.0,1.0,1.0,52.00,1,5745.856354
8062,Hormavu,1200.0,2.0,2.0,68.00,2,5666.666667
11182,Sarjapur Road,1129.0,2.0,1.0,69.00,2,6111.603189
6177,Battarahalli,1165.0,2.0,1.0,43.00,2,3690.987124
10927,Marathahalli,1102.0,2.0,2.0,53.67,2,4870.235935
8510,Raja Rajeshwari Nagar,1140.0,2.0,2.0,38.65,2,3390.350877
4847,Marathahalli,1710.0,3.0,2.0,100.00,3,5847.953216
7565,Ramamurthy Nagar,1200.0,2.0,1.0,57.90,2,4825.000000
489,others,1753.0,3.0,2.0,120.00,3,6845.407872
8100,CV Raman Nagar,1020.0,2.0,1.0,55.00,2,5392.156863
749,others,4300.0,5.0,2.0,550.00,4,12790.697674
11442,Kodichikkanahalli,976.0,2.0,1.0,50.00,2,5122.950820
5228,Electronic City Phase II,1031.0,2.0,1.0,55.00,2,5334.626576
1452,Singasandra,1030.0,2.0,2.0,55.00,2,5339.805825
7373,Kanakapura,1283.0,2.0,2.0,68.00,2,5300.077942
10389,Singasandra,1510.0,3.0,2.0,75.00,3,4966.887417
12831,Abbigere,1000.0,2.0,1.0,41.00,2,4100.000000

In [58]:
df.shape

(7361, 7)

In [59]:
df.drop(columns = ['balcony','price_per_sqft'],inplace=True)

In [60]:
df.head()

                 location  total_sqft bath  price  BHK
210   1st Block Jayanagar      2850.0  4.0  428.0    4
848   1st Block Jayanagar      1630.0  3.0  194.0    3
2152  1st Block Jayanagar      1875.0  2.0  235.0    3
7138  1st Block Jayanagar      1200.0  2.0  130.0    3
7358  1st Block Jayanagar      1235.0  2.0  148.0    2

In [66]:
df.dtypes

location       object
total_sqft    float64
bath           object
price         float64
BHK             int64
dtype: object

In [67]:
df['bath'] = df['bath'].astype(float)

In [68]:
df.dtypes

location       object
total_sqft    float64
bath          float64
price         float64
BHK             int64
dtype: object

In [72]:
df

                  location  total_sqft  bath  price  BHK
210    1st Block Jayanagar      2850.0   4.0  428.0    4
848    1st Block Jayanagar      1630.0   3.0  194.0    3
2152   1st Block Jayanagar      1875.0   2.0  235.0    3
7138   1st Block Jayanagar      1200.0   2.0  130.0    3
7358   1st Block Jayanagar      1235.0   2.0  148.0    2
...                    ...         ...   ...    ...  ...
13238               others      1200.0   2.0   70.0    2
13245               others      1800.0   1.0  200.0    1
13285               others      1353.0   2.0  110.0    2
13291               others       812.0   1.0   26.0    1
13316               others      3600.0   5.0  400.0    4

[7361 rows x 5 columns]

# Training DataSet

In [142]:
## importing libraries

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score,r2_score

In [62]:
X = df.drop(columns = ['price'])
y = df['price']

In [63]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state= 0)

In [64]:
X_train.shape

(5152, 4)

In [65]:
X_test.shape

(2209, 4)

### Apply Linear Regression

In [73]:
column_transform = make_column_transformer((OneHotEncoder(sparse=False),['location']),remainder='passthrough')

In [74]:
scalar = StandardScaler()

In [75]:
lr = LinearRegression()

In [76]:
pipe = make_pipeline(column_transform,scalar,lr)

In [77]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [78]:
y_pred = pipe.predict(X_test)

In [79]:
r2_score(y_test,y_pred)

0.8397225772724656

# Apply Lasso

In [80]:
lasso = Lasso()

In [81]:
pipe = make_pipeline(column_transform,scalar,lasso)

In [82]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [83]:
y_pred_lasso = pipe.predict(X_test)
r2_score(y_test,y_pred_lasso)

0.8282561345417819

## Apply Ridge

In [84]:
ridge = Ridge()

In [85]:
pipe = make_pipeline(column_transform,scalar,ridge)

In [86]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [87]:
y_pred_ridge = pipe.predict(X_test)
r2_score(y_test,y_pred_ridge)

0.8398069337228083

## Apply Decision Tree Regressor

In [89]:
tree = DecisionTreeRegressor()

In [90]:
pipe = make_pipeline(column_transform,scalar,tree)

In [91]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('decisiontreeregressor', DecisionTreeRegressor())])

In [92]:
y_pred_tree = pipe.predict(X_test)
r2_score(y_test,y_pred_tree)

0.7985976222509079

### Apply Random Forest Regressor

In [133]:
rf =  RandomForestRegressor(n_estimators=100)

In [134]:
pipe = make_pipeline(column_transform,scalar,rf)

In [135]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('randomforestregressor', RandomForestRegressor())])

In [136]:
y_pred_rf = pipe.predict(X_test)
r2_score(y_test,y_pred_rf)

0.8033712232156264

### Apply AdaBoost Regressor

In [129]:
ada =  AdaBoostRegressor(loss='linear',n_estimators= 100, random_state =42)

In [130]:
pipe = make_pipeline(column_transform,scalar,ada)

In [131]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('adaboostregressor',
                 AdaBoostRegressor(n_estimators=100, random_state=42))])

In [132]:
y_pred_ada = pipe.predict(X_test)
r2_score(y_test,y_pred_ada)

0.6393973836195432

### Apply Gradient Boosting Regressor

In [138]:
GBR = GradientBoostingRegressor(loss='squared_error', learning_rate = 0.1, n_estimators=100)

In [139]:
pipe = make_pipeline(column_transform,scalar,GBR)

In [140]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('gradientboostingregressor', GradientBoostingRegressor())])

In [141]:
y_pred_GBR = pipe.predict(X_test)
r2_score(y_test,y_pred_GBR)

0.8066323548546128

### Apply SVR

In [144]:
svr = SVR(kernel='linear')

In [145]:
pipe = make_pipeline(column_transform,scalar,svr)

In [146]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('svr', SVR(kernel='linear'))])

In [147]:
y_pred_svr = pipe.predict(X_test)
r2_score(y_test,y_pred_svr)

0.8359697605114288